<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://example.com/myicon.ico" />
    <title>Старт</title>
</head>
<body>
 {% if violations %}
    <form method="get">
    <table>
        {% for violation in violations.results %}
        <tr>
            <td>
                {{ violation.id }} - {{ violation.violation }} - {{ violation.date }} - {{ violation.who }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ violation.date }}
    <input type="submit" name="create" value="Создать" />
    <input type="submit" name="update" value="Изменить" />
    <input type="submit" name="update_patch" value="Изменить часть" />
    </form>
{% endif %}
</body>
</html>